extends ../../layout/default.pug
include ../../mixin/table-tree.pug
include ../../mixin/filter-status.pug
include ../../mixin/form-search.pug
include ../../mixin/pagination.pug
include ../../mixin/box-actions.pug
include ../../mixin/sort.pug
include ../../mixin/moment.pug

block main
    if(role.permissions.includes("products-category_view"))
        h1(class="mb-4") Danh mục sản phẩm
        .card.mb-3
            .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    .col-6
                        +filter-status(filterStatus)
                    .col-6
                        +form-search(keyword)
        .card.mb-3
            .card-header Sắp xếp
            .card-body
                .row
                    .col-4
                        +sort()
        if(role.permissions.includes("products-category_edit"))
            .card.mb-3
                .card-header Chuyển Trạng Thái
                .card-body 
                    +box-mixin-actions(`/${prefixAdmin}/products-category/change-multi`)
        if(role.permissions.includes("products-category_create"))  
            .card.mb-3
                .card-body
                    .row
                        .col-8
                        .col-4.text-right.mb-3
                            if(role.permissions.includes("products-category_create"))
                                a(
                                    href=`/${prefixAdmin}/products-category/create`
                                    class="btn btn-outline-success"
                                ) + Thêm mới
        .card.mb-3
            .card-header Danh sách
            .card-body
                table(
                    class="table table-hover table-sm"
                )
                    thead
                        tr
                            th
                                input(
                                type="checkbox"
                                name="checkAll"
                                )
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Vị trí
                            th Người tạo
                            th Người cập nhật
                            if(role.permissions.includes("products-category_edit"))
                                th Trạng thái
                            th Hành động

                    tbody
                        +table-tree(records)
        +pagination(pagination)